<h2 class="title section-title" data-name="Blogs">Blogs</h2>
<section class="older-posts section">
    <div class="container">
        <div class="older-posts-grid-wrapper d-grid">

            <a href="../backpacking_eu/3.html" class="article d-grid">
                <div class="older-posts-article-image-wrapper">
                    <img src="../images/backpacking_eu/5.1.jpg" alt="" class="article-image">
                </div>
                <div class="article-data-container">
                    <div class="article-data">
                        <span>June 18th - 20th 2023</span>
                        <span class="article-data-spacer"></span>
                        <span>France</span>
                    </div>
                    <h3 class="title article-title">The Exploration of Paris</h3>
                    <p class="article-description">The Bus journey was as you can expect from Flixbus: late, smelly and cheap. So, in other words perfect...</p>
                </div>
            </a>

            <a href="../backpacking_eu/2.html" class="article d-grid">
                <div class="older-posts-article-image-wrapper">
                    <img src="../images/backpacking_eu/3.1.jpg" alt="" class="article-image">
                </div>
                <div class="article-data-container">
                    <div class="article-data">
                        <span>June 16th - 18th 2023</span>
                        <span class="article-data-spacer"></span>
                        <span>Luxembourg</span>
                    </div>
                    <h3 class="title article-title">The Exploration of Luxembourg</h3>
                    <p class="article-description">The first city Brussels is already done. So I went on a train to Luxembourg station at 9:38 a.m. at...</p>
                </div>
            </a>
    
            <a href="../backpacking_eu/1.html" class="article d-grid">
                <div class="older-posts-article-image-wrapper">
                    <img src="../images/backpacking_eu/2.5.jpg" alt="" class="article-image">
                </div>
                <div class="article-data-container">
                    <div class="article-data">
                        <span>June 14th - 16th 2023</span>
                        <span class="article-data-spacer"></span>
                        <span>Belgium</span>
                    </div>
                    <h3 class="title article-title">The Exploration of Brussels</h3>
                    <p class="article-description">And here we go again!!! Today is the first one of many days backpacking through Europe...</p>
                </div>
            </a>
            <a href="../../nye_pg_22/8.html" class="article d-grid">
                <div class="older-posts-article-image-wrapper">
                    <img src="../../images/nye_pg_22/8.1.jpg" alt="" class="article-image">
                </div>
                <div class="article-data-container">
                    <div class="article-data">
                        <span>December 4th 2023</span>
                        <span class="article-data-spacer"></span>
                        <span>Portugal</span>
                    </div>
                    <h3 class="title article-title">Day of departure from LIS to AMS</h3>
                    <p class="article-description">All beginnings come to an end, especially with holidays... On a positive note, memories like this are always a blessing to look back on. Before...</p>
                </div>
            </a>
    
            <a href="../../nye_pg_22/7.html" class="article d-grid">
                <div class="older-posts-article-image-wrapper">
                    <img src="../../images/nye_pg_22/7.1.jpg" alt="" class="article-image">
                </div>
                <div class="article-data-container">
                    <div class="article-data">
                        <span>December 3rd 2023</span>
                        <span class="article-data-spacer"></span>
                        <span>Portugal</span>
                    </div>
                    <h3 class="title article-title">Guided Tour to Fatima, Batalha, Nazaré & Óbidos</h3>
                    <p class="article-description">For today we planned a privet tour to Fátima, Batalha, Nazaré & Óbidos! The ride, who is a perfect storyteller and...</p>
                </div>
            </a>
            
            <a href="../../nye_pg_22/6.html" class="article d-grid">
                <div class="older-posts-article-image-wrapper">
                    <img src="../../images/nye_pg_22/6.1.jpg" alt="" class="article-image">
                </div>
                <div class="article-data-container">
                    <div class="article-data">
                        <span>January 2nd 2023</span>
                        <span class="article-data-spacer"></span>
                        <span>Portugal</span>
                    </div>
                    <h3 class="title article-title">Sintra, Quinta da Regaleira and Mourish Castle</h3>
                    <p class="article-description">In Sintra there were several castles and we were at the big fortress called Mourish Castle and Quinta da Regaleira. It was...</p>
                </div>
            </a>  
            

        </div>
        <div class="see-more-container">
            <a href="all-blogs.html" class="btn see-more-btn place-items-center">See more <i class="ri-arrow-right-s-line"></i></i></a>
        </div>
    </div>
</section>
