    <!-- Most resent trips -->
    <section class="a-blog-h-offset">
        <h2 class="title start-title section-title" data-name="Journeys">Journeys</h2>
    </section>
    <section class="a-blog section">
        <div class="a-blog-container container d-grid">

            <div class="a-theme d-grid">
                <div class="headline-banner">
                    <br>
                    <h3 class="headline">
                        <span class="place-items-center">Upcoming journey(s):</span>
                    </h3>
                    <span>
                        Backpacking through Europe from June 14th to July 28th</span>
                </div>
            <!--
                <a href="../trips/backpacking_eu.html" class="article a-blog featured-article-1">
                    <img src="../images/backpacking_eu/1.1.jpg" alt="" class="article-image">
                    <div class="article-data-container">
                        <div class="article-data">
                            <span>14th Jun 2023 - 28th Jul 2023</span>
                            <span class="article-data-spacer"></span>
                            <span>BE-LU-FR-CH-DE-SI-HR-HU-SK-AT-CZ-PL</span>
                        </div>
                        <h3 class="title article-title">Backpacking through Europe</h3>
                    </div>
                </a>
            -->
                <a href="../trips/nye_pg_22.html" class="article a-blog featured-article-1">
                    <img src="../images/nye_pg_22/7.1.jpg" alt="" class="article-image">
                    <div class="article-data-container">
                        <div class="article-data">
                            <span>28th Dec 2022 - 4th Jan 2023</span>
                            <span class="article-data-spacer"></span>
                            <span>Portugal</span>
                        </div>
                        <h3 class="title article-title">Celebrating New Years Eve in Lisbon</h3>
                    </div>
                </a>

                <a href="../trips/denmark.html" class="article a-blog featured-article-2">
                    <img src="../images/denmark/2.1.jpg" alt="" class="article-image">
                    <div class="article-data-container">

                        <div class="article-data">
                            <span>20th - 26th Aug 2022</span>
                            <span class="article-data-spacer"></span>
                            <span>Denmark & Sweden</span>
                        </div>
                        <h3 class="title article-title">City Trip: Copenhagen and Mälmo</h3>
                    </div>
                </a>

                <a href="../trips/germany.html" class="article a-blog featured-article-3">
                    <img src="../images/germany/3.2.jpg" alt="" class="article-image">
                    <div class="article-data-container">
                        <div class="article-data">
                            <span>28th Jul 4th Aug 2022</span>
                            <span class="article-data-spacer"></span>
                            <span>Germany</span>
                        </div>
                        <h3 class="title article-title">City Trip: Berlin</h3>
                    </div>
                </a>

            </div>
        </div>
    </section>
