<!-- Author -->
<section class="blog-post a-blog-h-offset">
    <div class="blog-post-container container">
        <div class="container">
            <div class="author d-grid">
                <div class="author-image-box">
                    <img src="../../../images/dk-pic.jpg" alt="" class="article-image">
                </div>
                <div class="author-about">
                    <h3 class="author-name"><strong>Author: Damian Keinemans</strong></h3>
                    <p>
                        As you already read, my name is Damian Keinemans, 4th year chemistry student enjoying life as it is. 
                        My biggest passion is traveling, making new memories. To think and write about is the dream.
                        The most precious thing about exploring new places is the chance of perspective and learning along the ride from new people.                   
                    </p>

                </div>
            </div>
        </div>
    </div>
</section>
