<!-- Author -->
<section class="blog-post a-blog-h-offset">
    <div class="blog-post-container container">
        <div class="container">
            <div class="author d-grid">
                <div class="author-image-box">
                    <img src="../../../images/dk-pic.jpg" alt="" class="article-image">
                </div>
                <div class="author-about">
                    <h3 class="author-name">Author: <strong>Damian Keinemans</strong></h3>
                    <p>If you enjoyed this blog and want to read some more about some other places, SUBSCRIBE!</p>
                    <p>(subscription possibility coming soon)</p>
                </div>
            </div>
        </div>
    </div>
</section>