        <!-- Title and date -->
        <section class=" a-blog-h-offset">
            <div class="blog-post-data">
                <h3 class="title blog-post-title"><a href="../trips/nye_pg_22.html">Backpacking Europe</a></h3>
                <h4>June 14th till 26th of July 2023</h4>
                <h3 class="title blog-post-title">Starting soon!</h3>
            </div>
        </section>

<h2 class="title section-title" data-name="Blogs">Blogs</h2>
<section class="older-posts section">
    <div class="container">
        <div class="older-posts-grid-wrapper d-grid">
        <a href="../backpacking_eu/1.html" class="article d-grid">
            <div class="older-posts-article-image-wrapper">
                <img src="../images/backpacking_eu/1.1.jpg" alt="" class="article-image">
            </div>
            <div class="article-data-container">
                <div class="article-data">
                    <span>December 4th 2023</span>
                    <span class="article-data-spacer"></span>
                    <span>Portugal</span>
                </div>
                <h3 class="title article-title">Day of departure from LIS to AMS</h3>
                <p class="article-description">sentence...</p>
            </div>
        </a>

    </div>
</div>
</section>