<section class="a-blog-h-offset">
    <h2 class="title start-title section-title" data-name="Blogs">Blogs</h2>
</section>
<section class="older-posts section">

    <div class="container">
        <div class="older-posts-grid-wrapper d-grid">

            <a href="../../travelingdutchman/nye_pg_22/8.html" class="article d-grid">
                <div class="older-posts-article-image-wrapper">
                    <img src="../../travelingdutchman/images/nye_pg_22/8.1.jpg" alt="" class="article-image">
                </div>
                <div class="article-data-container">
                    <div class="article-data">
                        <span>January 2nd 2023</span>
                        <span class="article-data-spacer"></span>
                        <span>Portugal</span>
                    </div>
                    <h3 class="title article-title">Sintra and Castles</h3>
                    <p class="article-description">In Sintra there where some different castles and we where to the great fort named Mourish castle and...</p>
                </div>
            </a>

            <a href="../../travelingdutchman/nye_pg_22/7.html" class="article d-grid">
                <div class="older-posts-article-image-wrapper">
                    <img src="../../travelingdutchman/images/nye_pg_22/7.1.jpg" alt="" class="article-image">
                </div>
                <div class="article-data-container">
                    <div class="article-data">
                        <span>December 30th 2022</span>
                        <span class="article-data-spacer"></span>
                        <span>Portugal</span>
                    </div>
                    <h3 class="title article-title">Jesus, Belém, Pastel de Nata and Ramen</h3>
                    <p class="article-description">Our day just started the same as before, easy breakfast choices and nice conversation...</p>
                </div>
            </a>

            <a href="../../travelingdutchman/nye_pg_22/6.html" class="article d-grid">
                <div class="older-posts-article-image-wrapper">
                    <img src="../../travelingdutchman/images/nye_pg_22/6.1.jpg" alt="" class="article-image">
                </div>
                <div class="article-data-container">
                    <div class="article-data">
                        <span>December 29th 2022</span>
                        <span class="article-data-spacer"></span>
                        <span>Portugal</span>
                    </div>
                    <h3 class="title article-title">Exploring the center of lisbon</h3>
                    <p class="article-description">At first, we started on foot for a walk trough the city, after ...</p>
                </div>
            </a>

            <a href="../../travelingdutchman/nye_pg_22/5.html" class="article d-grid">
                <div class="older-posts-article-image-wrapper">
                    <img src="../../travelingdutchman/images/nye_pg_22/5.1.jpg" alt="" class="article-image">
                </div>
                <div class="article-data-container">
                    <div class="article-data">
                        <span>December 30 2022</span>
                        <span class="article-data-spacer"></span>
                        <span>Portugal</span>
                    </div>
                    <h3 class="title article-title">Jesus, Belém, Pastel de Nata and Ramen</h3>
                    <p class="article-description">Our day just started the same as before, easy breakfast choices and nice conversation...</p>
                </div>
            </a>

            <a href="../../travelingdutchman/nye_pg_22/4.html" class="article d-grid">
                <div class="older-posts-article-image-wrapper">
                    <img src="../../travelingdutchman/images/nye_pg_22/4.1.jpg" alt="" class="article-image">
                </div>
                <div class="article-data-container">
                    <div class="article-data">
                        <span>December 30 2022</span>
                        <span class="article-data-spacer"></span>
                        <span>Portugal</span>
                    </div>
                    <h3 class="title article-title">Jesus, Belém, Pastel de Nata and Ramen</h3>
                    <p class="article-description">Our day just started the same as before, easy breakfast choices and nice conversation...</p>
                </div>
            </a>

            <a href="../../travelingdutchman/images/nye_pg_22/3.1.jpg" class="article d-grid">
                <div class="older-posts-article-image-wrapper">
                    <img src="../../travelingdutchman/images/nye_pg_22/3.1.jpg" alt="" class="article-image">
                </div>
                <div class="article-data-container">
                    <div class="article-data">
                        <span>December 30 2022</span>
                        <span class="article-data-spacer"></span>
                        <span>Portugal</span>
                    </div>
                    <h3 class="title article-title">Jesus, Belém, Pastel de Nata and Ramen</h3>
                    <p class="article-description">Our day just started the same as before, easy breakfast choices and nice conversation...</p>
                </div>
            </a>

        </div>
        <div class="see-more-container">
            <a href="all-blogs.html" class="btn see-more-btn place-items-center">See more <i class="ri-arrow-right-s-line"></i></i></a>
        </div>
    </div>
</section>
