    <header class="header" id="header">
        <div class="navbar">
            <a href="../../travelingdutchman/index.html">
                <h2 class="logo">Traveling Dutchman</h2>
            </a>
        </div>
        <div class="navbar">
            <a href="../../travelingdutchman/index.html">Home  </a>
            <div class="dropdown">
                <button class="dropbtn">Trips
                <i class="fa fa-caret-down"></i>
                </button>
                <div class="dropdown-content">
                    <a href="../../travelingdutchman/trips/backpacking_eu.html">Backpacking EU 23</a>
                    <a href="../../travelingdutchman/trips/nye_pg_22.html">New Years Eve PG 22/23</a>
                    <a href="../../travelingdutchman/trips/denmark.html">Denmark 22</a>
                    <a href="../../travelingdutchman/trips/germany.html">Germany 22</a>
                    <a href="../../travelingdutchman/trips/italy.html">Italy 22</a>
                    <a href="../../travelingdutchman/trips/nye_ie_21.html">New Years Eve IE 21/22</a>
                    <a href="../../travelingdutchman/trips/england.html">England 19</a>
                    <a href="../../travelingdutchman/trips/scotland.html">Scotland 19</a>
                </div>
            </div>
            <a href="../../travelingdutchman/all-blogs.html">  All Blogs</a>
        </div>
    </header>

    <!--<div class="dropdown">
                <button class="dropbtn">  Years
                <i class="fa fa-caret-down"></i>
                </button>
                <div class="dropdown-content">
                    <a href="../years/2023.html">2023</a>
                    <a href="../years/2022.html">2022</a>
                    <a href="../years/2021.html">2021</a>
                    <a href="../years/2020.html">2020</a>
                    <a href="../years/2019.html">2019</a>
                </div>
            </div>-->