    <header class="header" id="header">
        <div class="navbar-title">
            <a href="../../index.html">
                <h2 class="logo">Traveling Dutchman</h2>
            </a>
        </div>
        <div class="navbar">
            <a href="../../index.html"><i class="ri-home-2-line"></i></a>
            <div class="dropdown">
                <button class="dropbtn"><i class="ri-suitcase-line"></i>
                    <i class="ri-arrow-down-circle-line"></i>
                </button>
                <div class="dropdown-content">
                    <a href="../../trips/backpacking_eu.html">Backpacking EU 23</a>
                    <a href="../../trips/nye_pg_22.html">New Years Eve PG 22/23</a>
                    <a href="../../trips/denmark.html">Denmark & Sweden 22</a>
                    <a href="../../trips/germany.html">Germany 22 (soon!)</a>
                    <a href="../../trips/italy.html">Italy 22 (soon!)</a>
                    <a href="../../trips/nye_ie_21.html">New Years Eve IE 21/22 (soon!)</a>
                    <!--<a href="../../trips/england.html">England 19</a>-->
                    <a href="../../trips/scotland.html">Scotland 19 (soon!)</a>
                </div>
            </div>
            <a href="../../all-blogs.html"><i class="ri-article-line"></i></a>
            <a href="../../map.html"><i class="ri-globe-line"></i></a>
        </div>
    </header>