<section class="newsletter section">
    <div class="container">
        <div class="form-container-inner">
            <h6 class="title newsletter-title">Subscribe to the Traveling Dutchman</h6>
            <p class="newsletter-description">Never miss a new massage ever again with a notification e-mail</p>
            <p class="newsletter-description">(functionality coming soon!)</p>
            <form action="" class="form">
                <input class="form-input" type="text" placeholder="Enter your email address">
                <button class="btn form-btn" type="submit">
                    <i class="ri-mail-send-line"></i>
                </button>
            </form>
        </div>
    </div>
</section>
