    <!-- Most resent trips -->
    <section class="a-blog-h-offset">
        <h2 class="title start-title section-title" data-name="Trips">Trips</h2>
    </section>
    <section class="a-blog section">
        <div class="a-blog-container container d-grid">

            <div class="a-theme d-grid">
                <div class="headline-banner">
                    <br>
                    <h3 class="headline">
                        <span class="place-items-center">Upcoming travel(s):</span>
                    </h3>
                    <span>Backpacking through Europe from the 14th of June till the 28th of July</span>
                </div>

                <a href="../../travelingdutchman/trips/nye_pg_22.html" class="article a-blog featured-article-1">
                    <img src="../../travelingdutchman/images/nye_pg_22/6.1.jpg" alt="" class="article-image">
                    <div class="article-data-container">
                        <div class="article-data">
                            <span>December 28th 2022 till January 4th 2023</span>
                            <span class="article-data-spacer"></span>
                            <span>Portugal</span>
                        </div>
                        <h3 class="title article-title">Celebrating New Years Eve in Lisbon</h3>
                    </div>
                </a>

                <a href="../../travelingdutchman/trips/germany.html" class="article a-blog featured-article-2">
                    <img src="../../travelingdutchman/images/" alt="" class="article-image">
                    <div class="article-data-container">

                        <div class="article-data">
                            <span>July 28th till august 8th 2022</span>
                            <span class="article-data-spacer"></span>
                            <span>Germany</span>
                        </div>
                        <h3 class="title article-title">City trip Berlin</h3>
                    </div>
                </a>

                <a href="../../travelingdutchman/trips/italy.html" class="article a-blog featured-article-3">
                    <img src="../../travelingdutchman/images/.jpg" alt="" class="article-image">
                    <div class="article-data-container">
                        <div class="article-data">
                            <span>July 14th till 26th 2022</span>
                            <span class="article-data-spacer"></span>
                            <span>Italy</span>
                        </div>
                        <h3 class="title article-title">City trip Venice, Florence and Rome</h3>
                    </div>
                </a>

            </div>
        </div>
    </section>
