        <!-- Title and date -->
        <section class=" a-blog-h-offset">
            <div class="blog-post-data">
                <h3 class="title blog-post-title"><a href="../../trips/backpacking_eu.html">Backpacking Europe</a></h3>
                <h4>June 14th till 26th of July 2023</h4>
                <h2 class="title blog-post-title">Starting soon!</h2>
            </div>
        </section>
<!--
<h2 class="title section-title" data-name="Blogs">Blogs</h2>
<section class="older-posts section">
    <div class="container">
        <div class="older-posts-grid-wrapper d-grid">
        <a href="../backpacking_eu/1.html" class="article d-grid">
            <div class="older-posts-article-image-wrapper">
                <img src="../images/backpacking_eu/1.1.jpg" alt="" class="article-image">
            </div>
            <div class="article-data-container">
                <div class="article-data">
                    <span>Date</span>
                    <span class="article-data-spacer"></span>
                    <span>Country</span>
                </div>
                <h3 class="title article-title">Title</h3>
                <p class="article-description">sentence...</p>
            </div>
        </a>

    </div>
</div>
</section>