        <!-- Title and date -->
        <section class=" a-blog-h-offset">
            <div class="blog-post-data">
                <h3 class="title blog-post-title"><a href="../../trips/backpacking_eu.html">Backpacking Europe</a></h3>
                <h4>14th Jun - 28th Jul 2023</h4>
            </div>
        </section>

<h2 class="title section-title" data-name="Blogs">Blogs</h2>
<section class="older-posts section">
    <div class="container">
        <div class="older-posts-grid-wrapper d-grid">
        <a href="../backpacking_eu/1.html" class="article d-grid">
            <div class="older-posts-article-image-wrapper">
                <img src="../images/backpacking_eu/2.5.jpg" alt="" class="article-image">
            </div>
            <div class="article-data-container">
                <div class="article-data">
                    <span>June 14th - 16th 2023</span>
                    <span class="article-data-spacer"></span>
                    <span>Belgium</span>
                </div>
                <h3 class="title article-title">The Exploration of Brussels</h3>
                <p class="article-description">And here we go again!!! Today is the first one of many days backpacking through Europe...</p>
            </div>
        </a>

        <a href="../backpacking_eu/2.html" class="article d-grid">
            <div class="older-posts-article-image-wrapper">
                <img src="../images/backpacking_eu/3.1.jpg" alt="" class="article-image">
            </div>
            <div class="article-data-container">
                <div class="article-data">
                    <span>June 16th - 18th 2023</span>
                    <span class="article-data-spacer"></span>
                    <span>Luxembourg</span>
                </div>
                <h3 class="title article-title">The Exploration of Luxembourg</h3>
                <p class="article-description">In the train trip, I did some programming for the website and when I was almost finished, my pc was out of juice...</p>
            </div>
        </a>

    </div>
</div>
</section>
