        <!-- Title and date -->
        <section class=" a-blog-h-offset">
            <div class="blog-post-data">
                <h3 class="title blog-post-title"><a href="../../trips/denmark.html">City Trip: Copenhagen & Mälmo</a></h3>
                <h4>20th - 25th Aug 2022</h4>
            </div>
        </section>

<h2 class="title section-title" data-name="Blogs">Blogs</h2>
<section class="older-posts section">
    <div class="container">
        <div class="older-posts-grid-wrapper d-grid">

            <a href="../../denmark/1.html" class="article d-grid">
                <div class="older-posts-article-image-wrapper">
                    <img src="../../images/denmark/1.1.jpg" alt="" class="article-image">
                </div>
                <div class="article-data-container">
                    <div class="article-data">
                        <span>20th Aug 2022</span>
                        <span class="article-data-spacer"></span>
                        <span>Denmark</span>
                    </div>
                    <h3 class="title article-title">Day of Departure from AMS to CPH</h3>
                    <p class="article-description">It's the first time I'm going to travel on my OWN!!! So as they say, there is a first for every thing. Let's call it a little experimental vacation, because...</p>
                </div>
            </a>
            <a href="../../denmark/2.html" class="article d-grid">
                <div class="older-posts-article-image-wrapper">
                    <img src="../../images/denmark/2.1.jpg" alt="" class="article-image">
                </div>
                <div class="article-data-container">
                    <div class="article-data">
                        <span>21th Aug 2022</span>
                        <span class="article-data-spacer"></span>
                        <span>Denmark</span>
                    </div>
                    <h3 class="title article-title">Batanical garden, Zoological Museum, Frederik's Church & Nyhaven</h3>
                    <p class="article-description">Just before the Batanical garden, another museum had an exhibition about the prehistoric...</p>
                </div>
            </a>

            <a href="../../denmark/3.html" class="article d-grid">
                <div class="older-posts-article-image-wrapper">
                    <img src="../../images/denmark/3.1.jpg" alt="" class="article-image">
                </div>
                <div class="article-data-container">
                    <div class="article-data">
                        <span>22th Aug 2022</span>
                        <span class="article-data-spacer"></span>
                        <span>Sweden</span>
                    </div>
                    <h3 class="title article-title">City Hall, Libraries, Marathon, Little Mermaid & Kastellet Bro</h3>
                    <p class="article-description">The first was the City Hall, which is a landmark building from 1905. In this building there is also a small old library with...</p>
                </div>
            </a>

            <a href="../../denmark/4.html" class="article d-grid">
                <div class="older-posts-article-image-wrapper">
                    <img src="../../images/denmark/4.1.jpg" alt="" class="article-image">
                </div>
                <div class="article-data-container">
                    <div class="article-data">
                        <span>23th Aug 2022</span>
                        <span class="article-data-spacer"></span>
                        <span>Denmark</span>
                    </div>
                    <h3 class="title article-title">Day trip to Mälmo</h3>
                    <p class="article-description">For today I've planned a trip to Mälmo, on the opposite side of the water. 
                        And for the first time in Sweden!</p>
                </div>
            </a>
            <a href="../../denmark/5.html" class="article d-grid">
                <div class="older-posts-article-image-wrapper">
                    <img src="../../images/denmark/5.1.jpg" alt="" class="article-image">
                </div>
                <div class="article-data-container">
                    <div class="article-data">
                        <span>24th Aug 2022</span>
                        <span class="article-data-spacer"></span>
                        <span>Denmark</span>
                    </div>
                    <h3 class="title article-title">Copenhagen Beach day</h3>
                    <p class="article-description">My plan for today is to go to a beach south of Copenhagen. My calculations were a bit the same as the first walk from the airport, a bit too long...</p>
                </div>
            </a>
            <a href="../../denmark/6.html" class="article d-grid">
                <div class="older-posts-article-image-wrapper">
                    <img src="../../images/denmark/6.2.jpg" alt="" class="article-image">
                </div>
                <div class="article-data-container">
                    <div class="article-data">
                        <span>25th Aug 2022</span>
                        <span class="article-data-spacer"></span>
                        <span>Denmark</span>
                    </div>
                    <h3 class="title article-title">Day of Departure from CPH to AMS</h3>
                    <p class="article-description">And as I said before, "All beginnings come to an end, especially with holidays"....</p>
                </div>
            </a>

    </div>
</div>
</section>