        <!-- Title and date -->
        <section class=" a-blog-h-offset">
            <div class="blog-post-data">
                <h3 class="title blog-post-title"><a href="../../travelingdutchman/trips/denmark.html">City Trip: Copenhagen & Mälmo</a></h3>
                <h4>August 20th till the 25th 2022</h4>
            </div>
        </section>

<h2 class="title section-title" data-name="Blogs">Blogs</h2>
<section class="older-posts section">
    <div class="container">
        <div class="older-posts-grid-wrapper d-grid">

            <a href="../../travelingdutchman/denmark/6.html" class="article d-grid">
                <div class="older-posts-article-image-wrapper">
                    <img src="../../travelingdutchman/images/denmark/6.2.jpg" alt="" class="article-image">
                </div>
                <div class="article-data-container">
                    <div class="article-data">
                        <span>August 25th 2022</span>
                        <span class="article-data-spacer"></span>
                        <span>Denmark</span>
                    </div>
                    <h3 class="title article-title">Day of Departure from CPH to AMS</h3>
                    <p class="article-description">sentence...</p>
                </div>
            </a>

            <a href="../../travelingdutchman/denmark/5.html" class="article d-grid">
                <div class="older-posts-article-image-wrapper">
                    <img src="../../travelingdutchman/images/denmark/5.1.jpg" alt="" class="article-image">
                </div>
                <div class="article-data-container">
                    <div class="article-data">
                        <span>August 24th 2022</span>
                        <span class="article-data-spacer"></span>
                        <span>Denmark</span>
                    </div>
                    <h3 class="title article-title">Title</h3>
                    <p class="article-description">sentence...</p>
                </div>
            </a>

            <a href="../../travelingdutchman/denmark/4.html" class="article d-grid">
                <div class="older-posts-article-image-wrapper">
                    <img src="../../travelingdutchman/images/denmark/4.1.jpg" alt="" class="article-image">
                </div>
                <div class="article-data-container">
                    <div class="article-data">
                        <span>August 23th 2022</span>
                        <span class="article-data-spacer"></span>
                        <span>Denmark</span>
                    </div>
                    <h3 class="title article-title">Title</h3>
                    <p class="article-description">sentence...</p>
                </div>
            </a>

            <a href="../../travelingdutchman/denmark/3.html" class="article d-grid">
                <div class="older-posts-article-image-wrapper">
                    <img src="../../travelingdutchman/images/denmark/3.1.jpg" alt="" class="article-image">
                </div>
                <div class="article-data-container">
                    <div class="article-data">
                        <span>August 22th 2022</span>
                        <span class="article-data-spacer"></span>
                        <span>Sweden</span>
                    </div>
                    <h3 class="title article-title">Title</h3>
                    <p class="article-description">sentence...</p>
                </div>
            </a>

            <a href="../../travelingdutchman/denmark/2.html" class="article d-grid">
                <div class="older-posts-article-image-wrapper">
                    <img src="../../travelingdutchman/images/denmark/2.1.jpg" alt="" class="article-image">
                </div>
                <div class="article-data-container">
                    <div class="article-data">
                        <span>August 21th 2022</span>
                        <span class="article-data-spacer"></span>
                        <span>Denmark</span>
                    </div>
                    <h3 class="title article-title"></h3>
                    <p class="article-description">sentence...</p>
                </div>
            </a>

            <a href="../../travelingdutchman/denmark/1.html" class="article d-grid">
                <div class="older-posts-article-image-wrapper">
                    <img src="../../travelingdutchman/images/denmark/1.1.jpg" alt="" class="article-image">
                </div>
                <div class="article-data-container">
                    <div class="article-data">
                        <span>August 20th 2022</span>
                        <span class="article-data-spacer"></span>
                        <span>Denmark</span>
                    </div>
                    <h3 class="title article-title">Day of Departure from AMS to CPH</h3>
                    <p class="article-description">It's the first time I'm going to travel on my OWN!!! So as they say, there is a first for every thing. Let's call it a little experimental vacation, because...</p>
                </div>
            </a>

    </div>
</div>
</section>