        <!-- Title and date -->
        <section class=" a-blog-h-offset">
            <div class="blog-post-data">
                <h3 class="title blog-post-title"><a href="../travelingdutchman/trips/england.html">City Trip: London</a></h3>
                <h4>July 26th till the 30th 2019</h4>
            </div>
        </section>


<h2 class="title section-title" data-name="Blogs">Blogs</h2>
<section class="older-posts section">
    <div class="container">
        <div class="older-posts-grid-wrapper d-grid">
            <a href="../../travelingdutchman/england/4.html" class="article d-grid">
                <div class="older-posts-article-image-wrapper">
                    <img src="../../travelingdutchman/images/england/4.1.jpg" alt="" class="article-image">
                </div>
                <div class="article-data-container">
                    <div class="article-data">
                        <span>August 29th & 30th 2019</span>
                        <span class="article-data-spacer"></span>
                        <span>England</span>
                    </div>
                    <h3 class="title article-title">Day of Departure from LTN to AMS</h3>
                    <p class="article-description">sentence...</p>
                </div>
            </a>
            <a href="../../travelingdutchman/england/3.html" class="article d-grid">
                <div class="older-posts-article-image-wrapper">
                    <img src="../../travelingdutchman/images/england/3.1.jpg" alt="" class="article-image">
                </div>
                <div class="article-data-container">
                    <div class="article-data">
                        <span>August 28th 2019</span>
                        <span class="article-data-spacer"></span>
                        <span>England</span>
                    </div>
                    <h3 class="title article-title">The Cancellation of our Flight</h3>
                    <p class="article-description">sentence...</p>
                </div>
            </a>
            <a href="../../travelingdutchman/england/2.html" class="article d-grid">
                <div class="older-posts-article-image-wrapper">
                    <img src="../../travelingdutchman/images/england/2.1.jpg" alt="" class="article-image">
                </div>
                <div class="article-data-container">
                    <div class="article-data">
                        <span>August 27th 2019</span>
                        <span class="article-data-spacer"></span>
                        <span>England</span>
                    </div>
                    <h3 class="title article-title">title</h3>
                    <p class="article-description">sentence...</p>
                </div>
            </a>
            <a href="../../travelingdutchman/england/1.html" class="article d-grid">
                <div class="older-posts-article-image-wrapper">
                    <img src="../../travelingdutchman/images/england/1.1.jpg" alt="" class="article-image">
                </div>
                <div class="article-data-container">
                    <div class="article-data">
                        <span>August 26th 2019</span>
                        <span class="article-data-spacer"></span>
                        <span>England</span>
                    </div>
                    <h3 class="title article-title">Day of Departure from AMS to SEN</h3>
                    <p class="article-description">Sentence...</p>
                </div>
            </a>
        </div>
    </div>
</section>