        <!-- Title and date -->
        <section class=" a-blog-h-offset">
            <div class="blog-post-data">
                <h3 class="title blog-post-title"><a href="../travelingdutchman/trips/germany.html">City Trip: Berlin</a></h3>
                <h4>July 28th till the 4th of August 2022</h4>
            </div>
        </section>

        <h2 class="title section-title" data-name="Blogs">Blogs</h2>
        <section class="older-posts section">
            <div class="container">
                <div class="older-posts-grid-wrapper d-grid">

                    <a href="../../travelingdutchman/germany/4.html" class="article d-grid">
                        <div class="older-posts-article-image-wrapper">
                            <img src="../../travelingdutchman/images/germany/8.1.jpg" alt="" class="article-image">
                        </div>
                        <div class="article-data-container">
                            <div class="article-data">
                                <span>August 4th 2022</span>
                                <span class="article-data-spacer"></span>
                                <span>Germany</span>
                            </div>
                            <h3 class="title article-title">Train Departure From AMS to BRL</h3>
                            <p class="article-description">sentence...</p>
                        </div>
                    </a>
                    <a href="../../travelingdutchman/germany/4.html" class="article d-grid">
                        <div class="older-posts-article-image-wrapper">
                            <img src="../../travelingdutchman/images/germany/7.1.jpg" alt="" class="article-image">
                        </div>
                        <div class="article-data-container">
                            <div class="article-data">
                                <span>August 3th 2022</span>
                                <span class="article-data-spacer"></span>
                                <span>Germany</span>
                            </div>
                            <h3 class="title article-title">Title</h3>
                            <p class="article-description">sentence...</p>
                        </div>
                    </a>
                    <a href="../../travelingdutchman/germany/4.html" class="article d-grid">
                        <div class="older-posts-article-image-wrapper">
                            <img src="../../travelingdutchman/images/germany/6.1.jpg" alt="" class="article-image">
                        </div>
                        <div class="article-data-container">
                            <div class="article-data">
                                <span>August 2nd 2022</span>
                                <span class="article-data-spacer"></span>
                                <span>Germany</span>
                            </div>
                            <h3 class="title article-title">Title</h3>
                            <p class="article-description">sentence...</p>
                        </div>
                    </a>
                    <a href="../../travelingdutchman/germany/4.html" class="article d-grid">
                        <div class="older-posts-article-image-wrapper">
                            <img src="../../travelingdutchman/images/germany/5.1.jpg" alt="" class="article-image">
                        </div>
                        <div class="article-data-container">
                            <div class="article-data">
                                <span>August 1st 2022</span>
                                <span class="article-data-spacer"></span>
                                <span>Germany</span>
                            </div>
                            <h3 class="title article-title">Title</h3>
                            <p class="article-description">sentence...</p>
                        </div>
                    </a>
                    <a href="../../travelingdutchman/germany/3.html" class="article d-grid">
                        <div class="older-posts-article-image-wrapper">
                            <img src="../../travelingdutchman/images/germany/4.1.jpg" alt="" class="article-image">
                        </div>
                        <div class="article-data-container">
                            <div class="article-data">
                                <span>July 31th 2021</span>
                                <span class="article-data-spacer"></span>
                                <span>Germany</span>
                            </div>
                            <h3 class="title article-title">Title</h3>
                            <p class="article-description">sentence...</p>
                        </div>
                    </a>
                    <a href="../../travelingdutchman/germany/3.html" class="article d-grid">
                        <div class="older-posts-article-image-wrapper">
                            <img src="../../travelingdutchman/images/germany/3.1.jpg" alt="" class="article-image">
                        </div>
                        <div class="article-data-container">
                            <div class="article-data">
                                <span>July 30th 2021</span>
                                <span class="article-data-spacer"></span>
                                <span>Germany</span>
                            </div>
                            <h3 class="title article-title">Title</h3>
                            <p class="article-description">sentence...</p>
                        </div>
                    </a>
                    <a href="../../travelingdutchman/germany/1.html" class="article d-grid">
                        <div class="older-posts-article-image-wrapper">
                            <img src="../../travelingdutchman/images/germany/2.1.jpg" alt="" class="article-image">
                        </div>
                        <div class="article-data-container">
                            <div class="article-data">
                                <span>July 29th 2021</span>
                                <span class="article-data-spacer"></span>
                                <span>Germany</span>
                            </div>
                            <h3 class="title article-title">Title</h3>
                            <p class="article-description">Sentence...</p>
                        </div>
                    </a>
                    <a href="../../travelingdutchman/germany/4.html" class="article d-grid">
                        <div class="older-posts-article-image-wrapper">
                            <img src="../../travelingdutchman/images/germany/1.1.jpg" alt="" class="article-image">
                        </div>
                        <div class="article-data-container">
                            <div class="article-data">
                                <span>July 28th 2021</span>
                                <span class="article-data-spacer"></span>
                                <span>Germany</span>
                            </div>
                            <h3 class="title article-title">Train departure from AMS to BRL</h3>
                            <p class="article-description">sentence...</p>
                        </div>
                    </a>

                </div>
            </div>
        </section>