        <!-- Title and date -->
        <section class=" a-blog-h-offset">
            <div class="blog-post-data">
                <h3 class="title blog-post-title"><a href="../../trips/germany.html">City Trip: Berlin</a></h3>
                <h4>28th Jul - 4th Aug 2022</h4>
            </div>
        </section>

        <h2 class="title section-title" data-name="Blogs">Blogs</h2>
        <section class="older-posts section">
            <div class="container">
                <div class="older-posts-grid-wrapper d-grid">
                    <a href="../../germany/1.html" class="article d-grid">
                        <div class="older-posts-article-image-wrapper">
                            <img src="../../images/germany/1.1.jpg" alt="" class="article-image">
                        </div>
                        <div class="article-data-container">
                            <div class="article-data">
                                <span>28th Jul 2021</span>
                                <span class="article-data-spacer"></span>
                                <span>Germany</span>
                            </div>
                            <h3 class="title article-title">Train departure from AMS to BRL</h3>
                            <p class="article-description">sentence...</p>
                        </div>
                    </a>
                    <a href="../../germany/2.html" class="article d-grid">
                        <div class="older-posts-article-image-wrapper">
                            <img src="../../images/germany/2.1.jpg" alt="" class="article-image">
                        </div>
                        <div class="article-data-container">
                            <div class="article-data">
                                <span>29th Jul 2021</span>
                                <span class="article-data-spacer"></span>
                                <span>Germany</span>
                            </div>
                            <h3 class="title article-title">Title</h3>
                            <p class="article-description">Sentence...</p>
                        </div>
                    </a>
                    <a href="../../germany/3.html" class="article d-grid">
                        <div class="older-posts-article-image-wrapper">
                            <img src="../../images/germany/3.1.jpg" alt="" class="article-image">
                        </div>
                        <div class="article-data-container">
                            <div class="article-data">
                                <span>30th Jul 2021</span>
                                <span class="article-data-spacer"></span>
                                <span>Germany</span>
                            </div>
                            <h3 class="title article-title">Title</h3>
                            <p class="article-description">sentence...</p>
                        </div>
                    </a>
                    <a href="../../germany/4.html" class="article d-grid">
                        <div class="older-posts-article-image-wrapper">
                            <img src="../../images/germany/4.1.jpg" alt="" class="article-image">
                        </div>
                        <div class="article-data-container">
                            <div class="article-data">
                                <span>31th Jul 2021</span>
                                <span class="article-data-spacer"></span>
                                <span>Germany</span>
                            </div>
                            <h3 class="title article-title">Title</h3>
                            <p class="article-description">sentence...</p>
                        </div>
                    </a>
                    <a href="../../germany/5.html" class="article d-grid">
                        <div class="older-posts-article-image-wrapper">
                            <img src="../../images/germany/5.1.jpg" alt="" class="article-image">
                        </div>
                        <div class="article-data-container">
                            <div class="article-data">
                                <span>1st Aug 2022</span>
                                <span class="article-data-spacer"></span>
                                <span>Germany</span>
                            </div>
                            <h3 class="title article-title">Title</h3>
                            <p class="article-description">sentence...</p>
                        </div>
                    </a>
                    <a href="../../germany/6.html" class="article d-grid">
                        <div class="older-posts-article-image-wrapper">
                            <img src="../../images/germany/6.1.jpg" alt="" class="article-image">
                        </div>
                        <div class="article-data-container">
                            <div class="article-data">
                                <span>2nd Aug 2022</span>
                                <span class="article-data-spacer"></span>
                                <span>Germany</span>
                            </div>
                            <h3 class="title article-title">Title</h3>
                            <p class="article-description">sentence...</p>
                        </div>
                    </a>
                    <a href="../../germany/7.html" class="article d-grid">
                        <div class="older-posts-article-image-wrapper">
                            <img src="../../images/germany/7.1.jpg" alt="" class="article-image">
                        </div>
                        <div class="article-data-container">
                            <div class="article-data">
                                <span>3th Aug 2022</span>
                                <span class="article-data-spacer"></span>
                                <span>Germany</span>
                            </div>
                            <h3 class="title article-title">Title</h3>
                            <p class="article-description">sentence...</p>
                        </div>
                    </a>
                    <a href="../../germany/8.html" class="article d-grid">
                        <div class="older-posts-article-image-wrapper">
                            <img src="../../images/germany/8.1.jpg" alt="" class="article-image">
                        </div>
                        <div class="article-data-container">
                            <div class="article-data">
                                <span>4th Aug 2022</span>
                                <span class="article-data-spacer"></span>
                                <span>Germany</span>
                            </div>
                            <h3 class="title article-title">Train Departure From AMS to BRL</h3>
                            <p class="article-description">sentence...</p>
                        </div>
                    </a>
                </div>
            </div>
        </section>