        <!-- Title and date -->
        <section class=" a-blog-h-offset">
            <div class="blog-post-data">
                <h3 class="title blog-post-title"><a href="../../trips/italy.html">City Trip: Venice, Florence & Rome</a></h3>
                <h4>14th - 26th Jul 2022</h4>
            </div>
        </section>

<h2 class="title section-title" data-name="Blogs">Blogs</h2>
<section class="older-posts section">
    <div class="container">
        <div class="older-posts-grid-wrapper d-grid">
            

            <a href="../../italy/2.html" class="article d-grid">
                <div class="older-posts-article-image-wrapper">
                    <img src="../../images/italy/2.1.jpg" alt="" class="article-image">
                </div>
                <div class="article-data-container">
                    <div class="article-data">
                        <span>11th & 12th Jul 2021</span>
                        <span class="article-data-spacer"></span>
                        <span>Italy</span>
                    </div>
                    <h3 class="title article-title">Day of Departure From AMS to VCE</h3>
                    <p class="article-description">sentence...</p>
                </div>
            </a>
            <a href="../../italy/3.html" class="article d-grid">
                <div class="older-posts-article-image-wrapper">
                    <img src="../../images/italy/3.1.jpg" alt="" class="article-image">
                </div>
                <div class="article-data-container">
                    <div class="article-data">
                        <span>13th Jul 2021</span>
                        <span class="article-data-spacer"></span>
                        <span>Italy</span>
                    </div>
                    <h3 class="title article-title">Title</h3>
                    <p class="article-description">sentence...</p>
                </div>
            </a>
            <a href="../../italy/4.html" class="article d-grid">
                <div class="older-posts-article-image-wrapper">
                    <img src="../../images/italy/4.1.jpg" alt="" class="article-image">
                </div>
                <div class="article-data-container">
                    <div class="article-data">
                        <span>14th Jul 2021</span>
                        <span class="article-data-spacer"></span>
                        <span>Italy</span>
                    </div>
                    <h3 class="title article-title">Title</h3>
                    <p class="article-description">sentence...</p>
                </div>
            </a>
            <a href="../../italy/5.html" class="article d-grid">
                <div class="older-posts-article-image-wrapper">
                    <img src="../../images/italy/5.1.jpg" alt="" class="article-image">
                </div>
                <div class="article-data-container">
                    <div class="article-data">
                        <span>15th Jul 2021</span>
                        <span class="article-data-spacer"></span>
                        <span>Italy</span>
                    </div>
                    <h3 class="title article-title">Title</h3>
                    <p class="article-description">sentence...</p>
                </div>
            </a>
            <a href="../../italy/6.html" class="article d-grid">
                <div class="older-posts-article-image-wrapper">
                    <img src="../../images/italy/6.1.jpg" alt="" class="article-image">
                </div>
                <div class="article-data-container">
                    <div class="article-data">
                        <span>16th Jul 2021</span>
                        <span class="article-data-spacer"></span>
                        <span>Italy</span>
                    </div>
                    <h3 class="title article-title">Title</h3>
                    <p class="article-description">sentence...</p>
                </div>
            </a>
            <a href="../../italy/7.html" class="article d-grid">
                <div class="older-posts-article-image-wrapper">
                    <img src="../../images/italy/7.1.jpg" alt="" class="article-image">
                </div>
                <div class="article-data-container">
                    <div class="article-data">
                        <span>17th Jul 2021</span>
                        <span class="article-data-spacer"></span>
                        <span>Italy</span>
                    </div>
                    <h3 class="title article-title">Title</h3>
                    <p class="article-description">sentence...</p>
                </div>
            </a>
            <a href="../../italy/8.html" class="article d-grid">
                <div class="older-posts-article-image-wrapper">
                    <img src="../../images/italy/8.1.jpg" alt="" class="article-image">
                </div>
                <div class="article-data-container">
                    <div class="article-data">
                        <span>18th Jul 2021</span>
                        <span class="article-data-spacer"></span>
                        <span>Italy</span>
                    </div>
                    <h3 class="title article-title">Title</h3>
                    <p class="article-description">sentence...</p>
                </div>
            </a>
            <a href="../../italy/9.html" class="article d-grid">
                <div class="older-posts-article-image-wrapper">
                    <img src="../../images/italy/9.1.jpg" alt="" class="article-image">
                </div>
                <div class="article-data-container">
                    <div class="article-data">
                        <span>19th Jul 2021</span>
                        <span class="article-data-spacer"></span>
                        <span>Italy</span>
                    </div>
                    <h3 class="title article-title">Title</h3>
                    <p class="article-description">sentence...</p>
                </div>
            </a>
            <a href="../../italy/10.html" class="article d-grid">
                <div class="older-posts-article-image-wrapper">
                    <img src="../../images/italy/10.1.jpg" alt="" class="article-image">
                </div>
                <div class="article-data-container">
                    <div class="article-data">
                        <span>20th Jul 2021</span>
                        <span class="article-data-spacer"></span>
                        <span>Italy</span>
                    </div>
                    <h3 class="title article-title">Title</h3>
                    <p class="article-description">sentence...</p>
                </div>
            </a>
            <a href="../../italy/11.html" class="article d-grid">
                <div class="older-posts-article-image-wrapper">
                    <img src="../../images/italy/11.1.jpg" alt="" class="article-image">
                </div>
                <div class="article-data-container">
                    <div class="article-data">
                        <span>21st Jul 2021</span>
                        <span class="article-data-spacer"></span>
                        <span>Italy</span>
                    </div>
                    <h3 class="title article-title">Title</h3>
                    <p class="article-description">sentence...</p>
                </div>
            </a>
            <a href="../../italy/12.html" class="article d-grid">
                <div class="older-posts-article-image-wrapper">
                    <img src="../../images/italy/12.1.jpg" alt="" class="article-image">
                </div>
                <div class="article-data-container">
                    <div class="article-data">
                        <span>22nd Jul 2021</span>
                        <span class="article-data-spacer"></span>
                        <span>Italy</span>
                    </div>
                    <h3 class="title article-title">Title</h3>
                    <p class="article-description">sentence...</p>
                </div>
            </a>
            <a href="../../italy/13.html" class="article d-grid">
                <div class="older-posts-article-image-wrapper">
                    <img src="../../images/italy/13.1.jpg" alt="" class="article-image">
                </div>
                <div class="article-data-container">
                    <div class="article-data">
                        <span>23rd Jul 2021</span>
                        <span class="article-data-spacer"></span>
                        <span>Italy</span>
                    </div>
                    <h3 class="title article-title">Title</h3>
                    <p class="article-description">sentence...</p>
                </div>
            </a>
            <a href="../../italy/14.html" class="article d-grid">
                <div class="older-posts-article-image-wrapper">
                    <img src="../../images/italy/14.1.jpg" alt="" class="article-image">
                </div>
                <div class="article-data-container">
                    <div class="article-data">
                        <span>24th Jul 2021</span>
                        <span class="article-data-spacer"></span>
                        <span>Italy</span>
                    </div>
                    <h3 class="title article-title">Title</h3>
                    <p class="article-description">sentence...</p>
                </div>
            </a>
            <a href="../../italy/15.html" class="article d-grid">
                <div class="older-posts-article-image-wrapper">
                    <img src="../../images/italy/15.1.jpg" alt="" class="article-image">
                </div>
                <div class="article-data-container">
                    <div class="article-data">
                        <span>25th Jul 2021</span>
                        <span class="article-data-spacer"></span>
                        <span>Italy</span>
                    </div>
                    <h3 class="title article-title">Title</h3>
                    <p class="article-description">sentence...</p>
                </div>
            </a>
            <a href="../../italy/16.html" class="article d-grid">
                <div class="older-posts-article-image-wrapper">
                    <img src="../../images/italy/16.1.jpg" alt="" class="article-image">
                </div>
                <div class="article-data-container">
                    <div class="article-data">
                        <span>26th Jul 2021</span>
                        <span class="article-data-spacer"></span>
                        <span>Italy</span>
                    </div>
                    <h3 class="title article-title">Day of Departure from FCO to AMS</h3>
                    <p class="article-description">sentence...</p>
                </div>
            </a>     
    </div>
</div>
</section>