        <!-- Title and date -->
        <section class=" a-blog-h-offset">
            <div class="blog-post-data">
                <h3 class="title blog-post-title"><a href="../travelingdutchman/trips/italy.html">City Trip: Venice, Florence & Rome</a></h3>
                <h4>July 14th till the 26th 2022</h4>
            </div>
        </section>

<h2 class="title section-title" data-name="Blogs">Blogs</h2>
<section class="older-posts section">
    <div class="container">
        <div class="older-posts-grid-wrapper d-grid">
            <a href="../../travelingdutchman/italy/16.html" class="article d-grid">
                <div class="older-posts-article-image-wrapper">
                    <img src="../../travelingdutchman/images/italy/16.1.jpg" alt="" class="article-image">
                </div>
                <div class="article-data-container">
                    <div class="article-data">
                        <span>July 26th 2021</span>
                        <span class="article-data-spacer"></span>
                        <span>Italy</span>
                    </div>
                    <h3 class="title article-title">Day of Departure from FCO to AMS</h3>
                    <p class="article-description">sentence...</p>
                </div>
            </a>
            <a href="../../travelingdutchman/italy/15.html" class="article d-grid">
                <div class="older-posts-article-image-wrapper">
                    <img src="../../travelingdutchman/images/italy/15.1.jpg" alt="" class="article-image">
                </div>
                <div class="article-data-container">
                    <div class="article-data">
                        <span>July 25th 2021</span>
                        <span class="article-data-spacer"></span>
                        <span>Italy</span>
                    </div>
                    <h3 class="title article-title">Title</h3>
                    <p class="article-description">sentence...</p>
                </div>
            </a>
            <a href="../../travelingdutchman/italy/14.html" class="article d-grid">
                <div class="older-posts-article-image-wrapper">
                    <img src="../../travelingdutchman/images/italy/14.1.jpg" alt="" class="article-image">
                </div>
                <div class="article-data-container">
                    <div class="article-data">
                        <span>July 24th 2021</span>
                        <span class="article-data-spacer"></span>
                        <span>Italy</span>
                    </div>
                    <h3 class="title article-title">Title</h3>
                    <p class="article-description">sentence...</p>
                </div>
            </a>
            <a href="../../travelingdutchman/italy/13.html" class="article d-grid">
                <div class="older-posts-article-image-wrapper">
                    <img src="../../travelingdutchman/images/italy/13.1.jpg" alt="" class="article-image">
                </div>
                <div class="article-data-container">
                    <div class="article-data">
                        <span>July 23rd 2021</span>
                        <span class="article-data-spacer"></span>
                        <span>Italy</span>
                    </div>
                    <h3 class="title article-title">Title</h3>
                    <p class="article-description">sentence...</p>
                </div>
            </a>
            <a href="../../travelingdutchman/italy/12.html" class="article d-grid">
                <div class="older-posts-article-image-wrapper">
                    <img src="../../travelingdutchman/images/italy/12.1.jpg" alt="" class="article-image">
                </div>
                <div class="article-data-container">
                    <div class="article-data">
                        <span>July 22nd 2021</span>
                        <span class="article-data-spacer"></span>
                        <span>Italy</span>
                    </div>
                    <h3 class="title article-title">Title</h3>
                    <p class="article-description">sentence...</p>
                </div>
            </a>
            <a href="../../travelingdutchman/italy/11.html" class="article d-grid">
                <div class="older-posts-article-image-wrapper">
                    <img src="../../travelingdutchman/images/italy/11.1.jpg" alt="" class="article-image">
                </div>
                <div class="article-data-container">
                    <div class="article-data">
                        <span>July 21st 2021</span>
                        <span class="article-data-spacer"></span>
                        <span>Italy</span>
                    </div>
                    <h3 class="title article-title">Title</h3>
                    <p class="article-description">sentence...</p>
                </div>
            </a>
            <a href="../../travelingdutchman/italy/10.html" class="article d-grid">
                <div class="older-posts-article-image-wrapper">
                    <img src="../../travelingdutchman/images/italy/10.1.jpg" alt="" class="article-image">
                </div>
                <div class="article-data-container">
                    <div class="article-data">
                        <span>July 20th 2021</span>
                        <span class="article-data-spacer"></span>
                        <span>Italy</span>
                    </div>
                    <h3 class="title article-title">Title</h3>
                    <p class="article-description">sentence...</p>
                </div>
            </a>
            <a href="../../travelingdutchman/italy/9.html" class="article d-grid">
                <div class="older-posts-article-image-wrapper">
                    <img src="../../travelingdutchman/images/italy/9.1.jpg" alt="" class="article-image">
                </div>
                <div class="article-data-container">
                    <div class="article-data">
                        <span>July 19th 2021</span>
                        <span class="article-data-spacer"></span>
                        <span>Italy</span>
                    </div>
                    <h3 class="title article-title">Title</h3>
                    <p class="article-description">sentence...</p>
                </div>
            </a>
            <a href="../../travelingdutchman/italy/8.html" class="article d-grid">
                <div class="older-posts-article-image-wrapper">
                    <img src="../../travelingdutchman/images/italy/8.1.jpg" alt="" class="article-image">
                </div>
                <div class="article-data-container">
                    <div class="article-data">
                        <span>July 18th 2021</span>
                        <span class="article-data-spacer"></span>
                        <span>Italy</span>
                    </div>
                    <h3 class="title article-title">Title</h3>
                    <p class="article-description">sentence...</p>
                </div>
            </a>
            <a href="../../travelingdutchman/italy/7.html" class="article d-grid">
                <div class="older-posts-article-image-wrapper">
                    <img src="../../travelingdutchman/images/italy/7.1.jpg" alt="" class="article-image">
                </div>
                <div class="article-data-container">
                    <div class="article-data">
                        <span>July 17th 2021</span>
                        <span class="article-data-spacer"></span>
                        <span>Italy</span>
                    </div>
                    <h3 class="title article-title">Title</h3>
                    <p class="article-description">sentence...</p>
                </div>
            </a>
            <a href="../../travelingdutchman/italy/6.html" class="article d-grid">
                <div class="older-posts-article-image-wrapper">
                    <img src="../../travelingdutchman/images/italy/6.1.jpg" alt="" class="article-image">
                </div>
                <div class="article-data-container">
                    <div class="article-data">
                        <span>July 16th 2021</span>
                        <span class="article-data-spacer"></span>
                        <span>Italy</span>
                    </div>
                    <h3 class="title article-title">Title</h3>
                    <p class="article-description">sentence...</p>
                </div>
            </a>
            <a href="../../travelingdutchman/italy/5.html" class="article d-grid">
                <div class="older-posts-article-image-wrapper">
                    <img src="../../travelingdutchman/images/italy/5.1.jpg" alt="" class="article-image">
                </div>
                <div class="article-data-container">
                    <div class="article-data">
                        <span>July 15th 2021</span>
                        <span class="article-data-spacer"></span>
                        <span>Italy</span>
                    </div>
                    <h3 class="title article-title">Title</h3>
                    <p class="article-description">sentence...</p>
                </div>
            </a>
            <a href="../../travelingdutchman/italy/4.html" class="article d-grid">
                <div class="older-posts-article-image-wrapper">
                    <img src="../../travelingdutchman/images/italy/4.1.jpg" alt="" class="article-image">
                </div>
                <div class="article-data-container">
                    <div class="article-data">
                        <span>July 14th 2021</span>
                        <span class="article-data-spacer"></span>
                        <span>Italy</span>
                    </div>
                    <h3 class="title article-title">Title</h3>
                    <p class="article-description">sentence...</p>
                </div>
            </a>
            <a href="../../travelingdutchman/italy/3.html" class="article d-grid">
                <div class="older-posts-article-image-wrapper">
                    <img src="../../travelingdutchman/images/italy/3.1.jpg" alt="" class="article-image">
                </div>
                <div class="article-data-container">
                    <div class="article-data">
                        <span>July 28th 2021</span>
                        <span class="article-data-spacer"></span>
                        <span>Italy</span>
                    </div>
                    <h3 class="title article-title">Title</h3>
                    <p class="article-description">sentence...</p>
                </div>
            </a>
            <a href="../../travelingdutchman/italy/2.html" class="article d-grid">
                <div class="older-posts-article-image-wrapper">
                    <img src="../../travelingdutchman/images/italy/2.1.jpg" alt="" class="article-image">
                </div>
                <div class="article-data-container">
                    <div class="article-data">
                        <span>July 28th 2021</span>
                        <span class="article-data-spacer"></span>
                        <span>Italy</span>
                    </div>
                    <h3 class="title article-title">Title</h3>
                    <p class="article-description">sentence...</p>
                </div>
            </a>
            <a href="../../travelingdutchman/italy/1.html" class="article d-grid">
                <div class="older-posts-article-image-wrapper">
                    <img src="../../travelingdutchman/images/italy/1.1.jpg" alt="" class="article-image">
                </div>
                <div class="article-data-container">
                    <div class="article-data">
                        <span>July 28th 2021</span>
                        <span class="article-data-spacer"></span>
                        <span>Italy</span>
                    </div>
                    <h3 class="title article-title">Day of Departure from AMS to VCE</h3>
                    <p class="article-description">sentence...</p>
                </div>
            </a>

    </div>
</div>
</section>