        <!-- Title and date -->
        <section class=" a-blog-h-offset">
            <div class="blog-post-data">
                <h3 class="title blog-post-title"><a href="../trips/nye_ie_21.html">New Years Eve: Dublin, Galway & Cliffs of Moher</a></h3>
                <h4>August 28th 2021 till the 2nd of January 2022</h4>
            </div>
        </section>

        <h2 class="title section-title" data-name="Blogs">Blogs</h2>
        <section class="older-posts section">
            <div class="container">
                <div class="older-posts-grid-wrapper d-grid">
                    <a href="../../nye_ie_21/1.html" class="article d-grid">
                        <div class="older-posts-article-image-wrapper">
                            <img src="../../images/nye_ie_21/1.1.jpg" alt="" class="article-image">
                        </div>
                        <div class="article-data-container">
                            <div class="article-data">
                                <span>December 27th 2021</span>
                                <span class="article-data-spacer"></span>
                                <span>Ireland</span>
                            </div>
                            <h3 class="title article-title">Day of Departure from AMS to DAA</h3>
                            <p class="article-description">sentence...</p>
                        </div>
                    </a>
                    <a href="../../nye_ie_21/2.html" class="article d-grid">
                        <div class="older-posts-article-image-wrapper">
                            <img src="../../images/nye_ie_21/2.1.jpg" alt="" class="article-image">
                        </div>
                        <div class="article-data-container">
                            <div class="article-data">
                                <span>December 28th 2021</span>
                                <span class="article-data-spacer"></span>
                                <span>Ireland</span>
                            </div>
                            <h3 class="title article-title">Title</h3>
                            <p class="article-description">Sentence...</p>
                        </div>
                    </a>
                    <a href="../../nye_ie_21/3.html" class="article d-grid">
                        <div class="older-posts-article-image-wrapper">
                            <img src="../../images/nye_ie_21/3.1.jpg" alt="" class="article-image">
                        </div>
                        <div class="article-data-container">
                            <div class="article-data">
                                <span>December 29th 2021</span>
                                <span class="article-data-spacer"></span>
                                <span>Ireland</span>
                            </div>
                            <h3 class="title article-title">Title</h3>
                            <p class="article-description">Sentence...</p>
                        </div>
                    </a>
                    <a href="../../nye_ie_21/4.html" class="article d-grid">
                        <div class="older-posts-article-image-wrapper">
                            <img src="../../images/nye_ie_21/4.1.jpg" alt="" class="article-image">
                        </div>
                        <div class="article-data-container">
                            <div class="article-data">
                                <span>December 30th 2021</span>
                                <span class="article-data-spacer"></span>
                                <span>Ireland</span>
                            </div>
                            <h3 class="title article-title">Title</h3>
                            <p class="article-description">sentence...</p>
                        </div>
                    </a>
                    <a href="../../nye_ie_21/5.html" class="article d-grid">
                        <div class="older-posts-article-image-wrapper">
                            <img src="../../images/nye_ie_21/5.1.jpg" alt="" class="article-image">
                        </div>
                        <div class="article-data-container">
                            <div class="article-data">
                                <span>December 31th 2021</span>
                                <span class="article-data-spacer"></span>
                                <span>Ireland</span>
                            </div>
                            <h3 class="title article-title">Title</h3>
                            <p class="article-description">sentence...</p>
                        </div>
                    </a>
                    <a href="../../nye_ie_21/6.html" class="article d-grid">
                        <div class="older-posts-article-image-wrapper">
                            <img src="../../images/nye_ie_21/6.1.jpg" alt="" class="article-image">
                        </div>
                        <div class="article-data-container">
                            <div class="article-data">
                                <span>January 1st 2022</span>
                                <span class="article-data-spacer"></span>
                                <span>Ireland</span>
                            </div>
                            <h3 class="title article-title">Title</h3>
                            <p class="article-description">sentence...</p>
                        </div>
                    </a>
                    <a href="../../nye_ie_21/7.html" class="article d-grid">
                        <div class="older-posts-article-image-wrapper">
                            <img src="../../images/nye_ie_21/7.1.jpg" alt="" class="article-image">
                        </div>
                        <div class="article-data-container">
                            <div class="article-data">
                                <span>January 2nd 2022</span>
                                <span class="article-data-spacer"></span>
                                <span>Ireland</span>
                            </div>
                            <h3 class="title article-title">Day of Departure from AMS to DAA</h3>
                            <p class="article-description">sentence...</p>
                        </div>
                    </a>                                                            
                </div>
            </div>
        </section>