        <!-- Title and date -->
        <section class=" a-blog-h-offset">
            <div class="blog-post-data">
                <h3 class="title blog-post-title"><a href="../../trips/nye_pg_22.html">New Years Eve: Lisbon, Sintra, Fátima, Batalha, Nazaré & Óbidos</a></h3>
                <h4>December 28th 2022 till 4th of January 2023</h4>
                <h4>
                <br><br>
                Hi everybody! How do you do?
                <br><br>
                This trip I'm going to Lisbon, Portugal with Anthony, Iris, Marty, Romar and Swenne to celebrate New Year's Eve!!!
                <br>
                We have taken many great opportunities to make our time worthwhile.
                <br><br>
                Enjoy!
                <br><br>
                </h4>
            </div>
        </section>


<h2 class="title section-title" data-name="Blogs">Blogs</h2>
<section class="older-posts section">
    <div class="container">
        <div class="older-posts-grid-wrapper d-grid">

        <a href="../../nye_pg_22/1.html" class="article d-grid">
            <div class="older-posts-article-image-wrapper">
                <img src="../../images/nye_pg_22/1.1.png" alt="" class="article-image">
            </div>
            <div class="article-data-container">
                <div class="article-data">
                    <span>December 28th 2022</span>
                    <span class="article-data-spacer"></span>
                    <span>Portugal</span>
                </div>
                <h3 class="title article-title">Day of departure from AMS to LIS</h3>
                <p class="article-description">And today is finally vacation!!! We're flying from Amsterdam to Lisbon with the best city hopper there is, EASYJET! After arriving, we...</p>
            </div>
        </a>
        
        <a href="../../nye_pg_22/2.html" class="article d-grid">
            <div class="older-posts-article-image-wrapper">
                <img src="../../images/nye_pg_22/2.1.jpg" alt="" class="article-image">
            </div>
            <div class="article-data-container">
                <div class="article-data">
                    <span>December 29th 2022</span>
                    <span class="article-data-spacer"></span>
                    <span>Portugal</span>
                </div>
                <h3 class="title article-title">Exploring the center of lissabon</h3>
                <p class="article-description">At first, we started on foot for a walk trough the city, after a great buffet. It's about a 1,5 hour walk to the center, with big differences in...</p>
            </div>
        </a>

        <a href="../../nye_pg_22/3.html" class="article d-grid">
            <div class="older-posts-article-image-wrapper">
                <img src="../../images/nye_pg_22/3.1.jpg" alt="" class="article-image">
            </div>
            <div class="article-data-container">
                <div class="article-data">
                    <span>December 30th 2022</span>
                    <span class="article-data-spacer"></span>
                    <span>Portugal</span>
                </div>
                <h3 class="title article-title">Jesus, Belém, Pastel de Nata and Ramen</h3>
                <p class="article-description">Our day just started the same as before, easy breakfast choices and nice conversation between. The goal was set, Sanctuary Of Christ The King. We...</p>
            </div>
        </a>

        <a href="../../nye_pg_22/4.html" class="article d-grid">
            <div class="older-posts-article-image-wrapper">
                <img src="../../images/nye_pg_22/4.1.jpg" alt="" class="article-image">
            </div>
            <div class="article-data-container">
                <div class="article-data">
                    <span>December 31th 2022</span>
                    <span class="article-data-spacer"></span>
                    <span>Portugal</span>
                </div>
                <h3 class="title article-title">New Years Eve!!!</h3>
                <p class="article-description">Finally it's time for New Year's Eve!!! The night has flown to Lisbon especially to celebrate. For a good night's sleep you need to eat well, so...</p>
            </div>
        </a>

        <a href="../../nye_pg_22/5.html" class="article d-grid">
            <div class="older-posts-article-image-wrapper">
                <img src="../../images/nye_pg_22/5.1.jpg" alt="" class="article-image">
            </div>
            <div class="article-data-container">
                <div class="article-data">
                    <span>December 1st 2023</span>
                    <span class="article-data-spacer"></span>
                    <span>Portugal</span>
                </div>
                <h3 class="title article-title">The Day After</h3>
                <p class="article-description">Today was the day, we didn't do much except go to the buffet. Yesterday was a long night so we weren't too excited for an early morning. Before...</p>
            </div>
        </a>

        <a href="../../nye_pg_22/6.html" class="article d-grid">
            <div class="older-posts-article-image-wrapper">
                <img src="../../images/nye_pg_22/6.1.jpg" alt="" class="article-image">
            </div>
            <div class="article-data-container">
                <div class="article-data">
                    <span>January 2nd 2023</span>
                    <span class="article-data-spacer"></span>
                    <span>Portugal</span>
                </div>
                <h3 class="title article-title">Sintra, Quinta da Regaleira and Mourish Castle</h3>
                <p class="article-description">In Sintra there were several castles and we were at the big fortress called Mourish Castle and Quinta da Regaleira. It was...</p>
            </div>
        </a>


        <a href="../../nye_pg_22/7.html" class="article d-grid">
            <div class="older-posts-article-image-wrapper">
                <img src="../../images/nye_pg_22/7.1.jpg" alt="" class="article-image">
            </div>
            <div class="article-data-container">
                <div class="article-data">
                    <span>December 3rd 2023</span>
                    <span class="article-data-spacer"></span>
                    <span>Portugal</span>
                </div>
                <h3 class="title article-title">Guided Tour to Fatima, Batalha, Nazaré & Óbidos</h3>
                <p class="article-description">For today we planned a privet tour to Fátima, Batalha, Nazaré & Óbidos! The ride, who is a perfect storyteller and...</p>
            </div>
        </a>

        <a href="../../nye_pg_22/8.html" class="article d-grid">
            <div class="older-posts-article-image-wrapper">
                <img src="../../images/nye_pg_22/8.1.jpg" alt="" class="article-image">
            </div>
            <div class="article-data-container">
                <div class="article-data">
                    <span>December 4th 2023</span>
                    <span class="article-data-spacer"></span>
                    <span>Portugal</span>
                </div>
                <h3 class="title article-title">Day of departure from LIS to AMS</h3>
                <p class="article-description">All beginnings come to an end, especially with holidays... On a positive note, memories like this are always a blessing to look back on. Before...</p>
            </div>
        </a>
        
    </div>
</div>
</section>