        <!-- Title and date -->
        <section class=" a-blog-h-offset">
            <div class="blog-post-data">
                <h3 class="title blog-post-title"><a href="../travelingdutchman/trips/scotland.html">City Trip: Edinburgh</a></h3>
                <h4>February 19th till the 22nd 2019</h4>
            </div>
        </section>

        <h2 class="title section-title" data-name="Blogs">Blogs</h2>
        <section class="older-posts section">
            <div class="container">
                <div class="older-posts-grid-wrapper d-grid">
                    <a href="../../travelingdutchman/scotland/1.html" class="article d-grid">
                        <div class="older-posts-article-image-wrapper">
                            <img src="../../travelingdutchman/images/scotland/1.1.jpg" alt="" class="article-image">
                        </div>
                        <div class="article-data-container">
                            <div class="article-data">
                                <span>February 19th 2019</span>
                                <span class="article-data-spacer"></span>
                                <span>Scotland</span>
                            </div>
                            <h3 class="title article-title">Day of Departure from EDI to AMS</h3>
                            <p class="article-description">sentence...</p>
                        </div>
                    </a>
                    <a href="../../travelingdutchman/scotland/2.html" class="article d-grid">
                        <div class="older-posts-article-image-wrapper">
                            <img src="../../travelingdutchman/images/scotland/2.1.jpg" alt="" class="article-image">
                        </div>
                        <div class="article-data-container">
                            <div class="article-data">
                                <span>February 20th 2019</span>
                                <span class="article-data-spacer"></span>
                                <span>Scotland</span>
                            </div>
                            <h3 class="title article-title">Title</h3>
                            <p class="article-description">Sentence...</p>
                        </div>
                    </a>
                    <a href="../../travelingdutchman/scotland/3.html" class="article d-grid">
                        <div class="older-posts-article-image-wrapper">
                            <img src="../../travelingdutchman/images/scotland/3.1.jpg" alt="" class="article-image">
                        </div>
                        <div class="article-data-container">
                            <div class="article-data">
                                <span>February 21st 2019</span>
                                <span class="article-data-spacer"></span>
                                <span>Scotland</span>
                            </div>
                            <h3 class="title article-title">Title</h3>
                            <p class="article-description">sentence...</p>
                        </div>
                    </a>
                    <a href="../../travelingdutchman/scotland/4.html" class="article d-grid">
                        <div class="older-posts-article-image-wrapper">
                            <img src="../../travelingdutchman/images/scotland/4.1.jpg" alt="" class="article-image">
                        </div>
                        <div class="article-data-container">
                            <div class="article-data">
                                <span>February 22nd 2019</span>
                                <span class="article-data-spacer"></span>
                                <span>Scotland</span>
                            </div>
                            <h3 class="title article-title">Day of Departure from EDI to AMS</h3>
                            <p class="article-description">sentence...</p>
                        </div>
                    </a>
                </div>
            </div>
        </section>
